*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #1107a1;
    background: linear-gradient(139deg,#176a77cb 0%, #421029b6 90%);
}
.container{
    position: relative;
    max-width: 800px;
    padding: 10px;
    margin: 50px auto;
}
.addBtn{

    margin: 0 10px;
	background: white;
	color: black;
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px;
	border: 2px solid #520a96;
	outline: none;
	border-radius: 15px;
    cursor: pointer;
    
}
.addBtn:hover{
    background-color: salmon;
}

.addTask{
    width: 100%;
    display: flex;
    padding: 10px 0;
}
.addTask > input[type="text"]{
    width: 90%;
    color: aqua;
    border:none;
    border-bottom: 2px solid #666;
    background: none;
    padding: 10px;
    font-size: 22px;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
}
.notCompleted, .Completed{
    margin:5px 0;
    padding: 20px;
}
h3{
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    color:#fff;
}
ol{
    list-style: none;
    counter-reset: my-counter;
}
ol li{
    width: 100%;
    padding: 18px;
    margin: 5px 0;
    background: #e96969bb;
    font-size: 22px;
    counter-increment: my-counter;
}
ol.Completed li{
    background: #00ff62;
}

ol li::before{
    content: counter(my-counter);
    background: #231381;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    line-height: 2rem;
    text-align: center;
    color: #fff;
    margin-right: 0.5rem;

}

li button{
    float: right;
    padding: 5px;
    font-size: 28px;
    line-height: 28px;
    margin-right: 15px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
